* {
	box-sizing: border-box;
	margin: 0;
}
html {
    overflow-x: hidden;
	height: 100%;
}
body {
    background-image: url(../img/fondo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-y:  hidden !important;
}

/*-----------Header--------*/

.nav-container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.logo {
    position: relative;
    margin: auto;
    background-image: url(../img/Logo-Nostra-Pizza.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    height: 80%;
}

.linea-logo {
    width: 100%;
    height: 25%;
    background-color: gray;
    opacity: 0.15;
    position: relative;
    top: 55%;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position:absolute;
}
.barras {
    background-image: url(../img/barras.png.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 20%;
    bottom: 20%;
    position: relative;
}
.delivery-container {
    width: 12%;
    height: 170px;
    background-color: lightgray;
    position: fixed;
    right: -100%;
    top: 8%;
    border-radius: 20px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}
.delivery-container.activo {
    right: 3.5%;
    top: 10%;
    transition: .3s;
}
.delivery-container {
    transition: .3s;
}
.bolt {
    background-image: url(../img/Bolt-Food.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 25%;
    position: relative;
    margin: auto;
}
.uber {
    background-image: url(../img/Uber-Eats.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 25%;
    position: relative;
    margin: auto;   
}
.glovo {
    background-image: url(../img/Glovo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 25%;
    position: relative;
    margin: auto;   
}
.delivery-box {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 60%;
    right: 3%;
    position: fixed;
    top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 10px;
}
.delivery {
    background-image: url(../img/delivery.png);
    background-position: center;
    background-size: contain;  
    background-repeat: no-repeat;
    width: 65%;
    height: 70%;
}
.menu-container {
    width: 100%;
    height: 80%;
    display: block;
    justify-content: space-between;
	overflow-y: scroll;
}

.entradas {
    width: 90%;
    height: 130px;
    background-image: url(../img/entradas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
}
.entradasmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.entradasbox {
	width: 90%;
	height: 7%;
	background-image: url(../img/nostropane.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	box-shadow: rgba(0,0,0,0.3) 6px 5px 10px 1px;
	position:fixed;
	left: 5%;
	z-index: 2;
}
.entradasfiltro {
	width:102%;
	height:105%;
	background-color: #C9C9C9;
	opacity:0.4;
	position: absolute;
}
.entradastitulo {
	color:white;
	font-family: "Quicksand_light";
	font-weight: bolder;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 1.5em;
    margin-left: 13px;
    z-index: 1;
    margin-top: 3px;
}
.entradasvolver {
	background-image: url(../img/back.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20%;
	height: 60%;
	margin-right: 10px;
    float:right;
    z-index: 1;
}
.item1box {
	width: 90%;
	height: 120px;
	background-color: white;
	margin: auto;
	margin-top: 35px;
	box-shadow: rgba(0,0,0,0.2) 6px 5px 10px 1px;
	display: flex;
	align-items: center;
    position: relative;
    justify-content:space-between;
	top:7%;
}
.item2box {
	width: 90%;
	height: 120px;
	background-color: white;
	margin: auto;
	margin-top: 80px;
	box-shadow: rgba(0,0,0,0.2) 6px 5px 10px 1px;
	display: flex;
	align-items: center;
    position: relative;
    justify-content:space-between;
    margin-bottom: 90px;
}
.item3box {
	width: 90%;
	height: 120px;
	background-color: white;
	margin: auto;
	margin-top: 35px;
	box-shadow: rgba(0,0,0,0.2) 6px 5px 10px 1px;
	display: flex;
	align-items: center;
    position: relative;
    justify-content:space-between;
	top:7%;
}
.item4box {
	width: 90%;
	height: 120px;
	background-color: white;
	margin: auto;
	margin-top: 35px;
	box-shadow: rgba(0,0,0,0.2) 6px 5px 10px 1px;
	display: flex;
	align-items: center;
    position: relative;
    justify-content:space-between;
	top:7%;
	margin-bottom: 150px;
}
.item5box {
	width: 90%;
	height: 60px;
	background-color: white;
	margin: auto;
	margin-top: 35px;
	box-shadow: rgba(0,0,0,0.2) 6px 5px 10px 1px;
	display: flex;
	align-items: center;
    position: relative;
    justify-content:space-between;
	top:7%;
}
.item6box {
	width: 90%;
	height: 60px;
	background-color: white;
	margin: auto;
	margin-top: 35px;
	box-shadow: rgba(0,0,0,0.2) 6px 5px 10px 1px;
	display: flex;
	align-items: center;
    position: relative;
    justify-content:space-between;
	top:7%;
	margin-bottom: 150px;
}
.item1imgbox{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1img {
	background-image: url(../img/nostropane.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item1tittle {
    position: relative;
    font-family: "quicksand_bold";
    font-size: 1.1em;
    margin-left: 5px;
    text-transform: uppercase;
}
.item3tittle {
    position: relative;
    font-family: "quicksand_bold";
    font-size: 1em;
    margin-left: 5px;
    text-transform: uppercase;
}
.item1tittle-text{
    width: 72%;
    height: 100%;
    display: grid;
    align-content: baseline;
    top: 15%;
    position: relative;
	left: 2%;
}
.item2tittle-text{
    width: 50%;
    height: 100%;
    display: grid;
    align-content: baseline;
    top: 15%;
    position: relative;
	left: 2%;
}
.item3tittle-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    position: relative;
	left: 2%;
}
.price {
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: 15%;
	align-items: baseline;
}

.textprice {
	font-size: 0.8em;
}
.item1tittle-price{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.item1price {
    position: relative;
    font-family: "quicksand_bold";
    font-size: 1em;
    margin-right: 10%;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center
}
.item1text{
    font-family: "quicksand_light";
    font-size: 0.7em;
    position: relative;
    width: 90%;
    height: 60%;
    overflow-wrap: anywhere;
    margin-top: 5px;
    margin-left: 5px;
}
.Nostropane{
    font-family: "quicksand_light";
    font-size: 0.7em;
    position: relative;
    width: 47%;
    height: 65%;
    overflow-wrap: anywhere;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgba(97,97,97,0.7);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2img {
	background-image: url(../img/Focaccia.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item3img {
	background-image: url(../img/Carpaccio\ de\ Bresaola.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item4img {
	background-image: url(../img/Burrata\ com\ Espargos.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item5img {
	background-image: url(../img/Bruschetta\ di\ Pomodori.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item6img {
	background-image: url(../img/Provolone\ Al\ Forno.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item7img {
	background-image: url(../img/Crostini\ di\ Presunto.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item8img {
	background-image: url(../img/Involtini\ Di\ Zuchini.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item9img {
	background-image: url(../img/Crostino\ di\ Salame.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item10img {
	background-image: url(../img/Alla\ Marianara.JPG);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item11img {
	background-image: url(../img/Lasagna\ Di\ Carne.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}

.saladas {
    width: 90%;
    height: 130px;
    background-image: url(../img/saladas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.saladasmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.saladasbox {
	width: 90%;
	height: 7%;
	background-image: url(../img/Salada\ Nostra.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	box-shadow: rgba(0,0,0,0.3) 6px 5px 10px 1px;
	position:fixed;
	left: 5%;
	z-index: 2;
}
.saladasvolver {
	background-image: url(../img/back.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20%;
	height: 60%;
	margin-right: 10px;
    float:right;
    z-index: 1;
}
.item12img {
	background-image: url(../img/Salada\ Nostra.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item13img {
	background-image: url(../img/Cesare.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item14img {
	background-image: url(../img/Salada\ Dolce\ Capra.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item15img {
	background-image: url(../img/Salada\ Rucola\ alla\ Pera.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item16img {
	background-image: url(../img/Caprese\ e\ Pesto.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.pizzas {
    width: 90%;
    height: 130px;
    background-image: url(../img/pizzas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.pizzasmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.pizzasbox {
	width: 90%;
	height: 7%;
	background-image: url(../img/DOP.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	box-shadow: rgba(0,0,0,0.3) 6px 5px 10px 1px;
	position:fixed;
	left: 5%;
	z-index: 2;
}
.pizzasvolver {
	background-image: url(../img/back.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20%;
	height: 60%;
	margin-right: 10px;
    float:right;
    z-index: 1;
}
.pizzastitulo {
	color:white;
	font-family: "Quicksand_light";
	font-weight: bolder;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1.5em;
    margin-left: 13px;
    z-index: 1;
    margin-top: 3px;
}
.subtitle {
    font-size: 0.6em;
}
.item17img {
	background-image: url(../img/Margherita.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item18img {
	background-image: url(../img/DOP.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item19img {
	background-image: url(../img/Prosciutto.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item20img {
	background-image: url(../img/Prosciutto\ e\ Funghi.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item21img {
	background-image: url(../img/Viva\ Il\ Formaggio.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item22img {
	background-image: url(../img/Pizza\ Bufala.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item23img {
	background-image: url(../img/Línferno.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item24img {
	background-image: url(../img/Capricciosa.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item99img {
	background-image: url(../img/Amatriciana.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item25img {
	background-image: url(../img/4\ Stagioni.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item26img {
	background-image: url(../img/Nostra.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item27img {
	background-image: url(../img/Cuoco\ Loco.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item28img {
	background-image: url(../img/Vegi\ Vita.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item29img {
	background-image: url(../img/Itália.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item30img {
	background-image: url(../img/Ventricina.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item31img {
	background-image: url(../img/Green\ Card.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item32img {
	background-image: url(../img/Dolce\ Capra.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item33img {
	background-image: url(../img/Calzone.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.itemextra {
	width: 90%;
    height: 50px;
    background-color: white;
    margin: auto;
    margin-top: 35px;
    box-shadow: rgb(0 0 0 / 20%) 6px 5px 10px 1px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    top: 7%;
	z-index: 1;
    margin-bottom: 150px;
}
.itemextra.margin{
	margin-bottom: 10px;
}
.itemextratext {
	position: relative;
    font-family: "quicksand_bold";
    font-size: 1.1em;
    margin-left: 5px;
    text-transform: uppercase;
}
.arrow {
	position: absolute;
	background-image: url(../img/arrow.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
	height: 20px;
	width: 30px;
	right: 2%;
	bottom: 30%;
}
.arrow.arrowgiro {
	transform: rotate(-180deg);
	transition: 1s;
}
.arrow {
	transition: 1s;
}
.extrasmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.extrasmenu.activo{
	display: block;
}

.sobremesas {
    width: 90%;
    height: 130px;
    background-image: url(../img/sobremesas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.sobremesasbox {
	width: 90%;
	height: 7%;
	background-image: url(../img/Tiramisu.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	box-shadow: rgba(0,0,0,0.3) 6px 5px 10px 1px;
	position:fixed;
	left: 5%;
	z-index: 2;
}
.sobremesasvolver {
	background-image: url(../img/back.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20%;
	height: 60%;
	margin-right: 10px;
    float:right;
    z-index: 1;
}
.sobremesasmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.item34img {
	background-image: url(../img/Tiramisu.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item35img {
	background-image: url(../img/Torta\ al\ Cioccolato.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item36img {
	background-image: url(../img/Pizza\ di\ Nutella.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item37img {
	background-image: url(../img/Pizza\ Mela\ e\ Canella.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}

.bebidas {
    width: 90%;
    height: 130px;
    background-image: url(../img/bebidas1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.bebidasbox {
	width: 90%;
	height: 7%;
	background-image: url(../img/nostropane.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	box-shadow: rgba(0,0,0,0.3) 6px 5px 10px 1px;
	position:fixed;
	left: 5%;
	z-index: 2;
}
.bebidasvolver {
	background-image: url(../img/back.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20%;
	height: 60%;
	margin-right: 10px;
    float:right;
    z-index: 1;
}
.bebidasmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.item38img {
	background-image: url(../img/Agua\ Penacova.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item39img {
	background-image: url(../img/Lambrusco\ Rosato.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item40img {
	background-image: url(../img/Aguas\ das\ Pedras.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item41img {
	background-image: url(../img/Sumo\ Compal\ Laranja.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item42img {
	background-image: url(../img/Sumo\ Compal\ Pessego.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item43img {
	background-image: url(../img/Coca\ Cola.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item44img {
	background-image: url(../img/Coca\ Cola\ Zero.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item45img {
	background-image: url(../img/Coca\ Cola\ Light.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item46img {
	background-image: url(../img/7up.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item47img {
	background-image: url(../img/Ice\ Tea\ Limao.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item48img {
	background-image: url(../img/Ide\ Tea\ Pêssego.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item49img {
	background-image: url(../img/Birra\ Peroni.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item50img {
	background-image: url(../img/Birra\ Moretti.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item51img {
	background-image: url(../img/Vinho\ Borgobruno.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item52img {
	background-image: url(../img/Fanta\ Laranja.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.vinos {
    width: 90%;
    height: 130px;
    background-image: url(../img/bebidas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
	margin-bottom: 80px;
}
.vinosbox {
	width: 90%;
	height: 7%;
	background-image: url(../img/nostropane.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	box-shadow: rgba(0,0,0,0.3) 6px 5px 10px 1px;
	position:fixed;
	left: 5%;
	z-index: 2;
}
.vinosvolver {
	background-image: url(../img/back.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20%;
	height: 60%;
	margin-right: 10px;
    float:right;
    z-index: 1;
}
.vinosmenu {
	width: 100%;
	height: 80%;
	position: relative;
    display: none;
    overflow-x: hidden;
	overflow-y: scroll;
}
.item53img {
	background-image: url(../img/Vinho\ Esteva.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item54img {
	background-image: url(../img/Lambrusco\ Rosato.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item55img {
	background-image: url(../img/Vinho\ Borgobruno.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item56img {
	background-image: url(../img/Vinho\ Branco\ Bo.PNG);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item57img {
	background-image: url(../img/Vinho\ Tinto\ -\ Quinta\ das\ Camelias.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.item58img {
	background-image: url(../img/vinho\ chianti.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 90% !important;
	height: 75% !important;
    box-shadow: rgba(0,0,0,0.3) 4px 3px 4px 0px;
    position: relative;
    left: 7%;
}
.footer {
    width: 100%;
    height: 50px;
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    z-index: 2;
}
.footer-box{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.phone {
    width: 50%;
    height: 50%;
    background-image: url(../img/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.number {
    font-family: "Quicksand_Bold";
    letter-spacing: 2px;
    white-space: nowrap;
}
@media (max-height:800px) {
	.item2box {
		margin-bottom: 130px;
	}
	.vinos {
		margin-bottom: 100px;
	}
}