* {
	box-sizing: border-box;
	margin: 0;
}
html {
    overflow-x: hidden;
}
body {
    background-image: url(../img/fondo.png);
    width: 100%;
    height: 100%;
    overflow-y:  hidden !important;
}

/*-----------Header--------*/

.nav-container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.logo {
    position: relative
    margin: auto;
    background-image: url(../img/Logo-Nostra-Pizza.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    height: 80%;
}

.linea-logo {
    width: 100%;
    height: 25%;
    background-color: gray;
    opacity: 0.15;
    position: relative;
    top: 55%;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position:absolute;
}
.barras {
    background-image: url(../img/barras.png.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 20%;
    bottom: 20%;
    position: relative;
}
.delivery-container {
    width: 12%;
    height: 170px;
    background-color: lightgray;
    position: fixed;
    right: -100%;
    top: 8%;
    border-radius: 20px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.delivery-container.activo {
    right: 3%;
    top: 8%;
    transition: .3s;
}
.delivery-container {
    transition: .3s;
}
.bolt {
    background-image: url(../img/Bolt-Food.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 25%;
    position: relative;
    margin: auto;
}
.uber {
    background-image: url(../img/Uber-Eats.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 25%;
    position: relative;
    margin: auto;   
}
.glovo {
    background-image: url(../img/Glovo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 25%;
    position: relative;
    margin: auto;   
}
.delivery-box {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 60%;
    right: 3%;
    position: fixed;
    top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery {
    background-image: url(../img/delivery.png);
    background-position: center;
    background-size: contain;  
    background-repeat: no-repeat;
    width: 65%;
    height: 70%;
}
.menu-container {
    width: 100%;
    height: 650px;
    display: block;
    justify-content: space-between;
}
.entradas {
    width: 90%;
    height: 100px;
    background-image: url(../img/entradas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.saladas {
    width: 90%;
    height: 100px;
    background-image: url(../img/saladas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.pizzas {
    width: 90%;
    height: 100px;
    background-image: url(../img/pizzas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobremesas {
    width: 90%;
    height: 100px;
    background-image: url(../img/sobremesas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bebidas {
    width: 90%;
    height: 100px;
    background-image: url(../img/bebidas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
}
.footer-box{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
}
.phone {
    width: 50%;
    height: 50%;
    background-image: url(../img/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.number {
    font-family: "Quicksand_Bold";
    letter-spacing: 2px;
    white-space: nowrap;

}
